<p id="notice"><%= notice %></p>

<h1>Aparatus</h1>

<br>

<h2>Business Logic</h2>

<%= link_to 'Accounts', accounts_path %>

<br>

<%= link_to 'Teams', teams_path %>

<br>

<h2>Platform Logic</h2>

<%= link_to 'Clusters', clusters_path %>

<br>

<%= link_to 'Databases', databases_path %>

<br>

<%= link_to 'Users', users_path %>

<br>
